/*header*/

#lang-menu{
    border-right: 1px solid var(--bs-white);
}

#lang-menu a,
#social-menu a{
    color: var(--bs-white);
}

#lang-menu a:hover{
    color:var(--bs-black);
    background-color: var(--bs-white);
}

#social-menu a:hover{
    color: var(--bs-primary);
}

#search-panel input::placeholder{
 color: var(--bs-secondary);
}

#search-panel button:hover{
    background-color: var(--bs-secondary);
}

#search-panel .form-control:focus{
     outline: none;
     box-shadow: 0;
}

#bolum1{
    position: relative;
    z-index: 100;
    margin-top: -50px;
}

#bolum1 .card{
    background-color: var(--bs-secondary-border-subtle);
}

#bolum1 .card-body{
    border: 2px solid var(--bs-white);
}
.yatay-cizgi{
    border: 1px solid white;
}

footer {
    background-color: #3e2b2b; /* Kahverengi tonlarında arka plan */
    color: white;
    padding: 30px 0;
    text-align: center;
}

footer a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social-icons i {
    margin: 0 10px;
    font-size: 1.5rem;
}